<!DOCTYPE html>
{% extends 'enq/base1.html' %}
{% block content %}
<style>
body{
color:#3b3d3b;
}
</style>
<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
                    <h3><b><i>Counsellors Report</i></b></h3><br>

<table class="table table-dark">

    <tr class="bg-primary">

      <th>Name</th>
      <th>Call backs</th>
    </tr>
    {% for i in form0 %}
    <tr class="bg-primary">
      <td>{{i.councillor__councillor_name}}</td>
      <td>{{i.co}}</td>
    </tr>
    {% endfor %}
</table>


<hr>
<hr>

<table class="table table-dark">
    <tr class="bg-info">

      <th>Name</th>
      <th>Admitted</th>
    </tr>
    {% for j in form00 %}
    <tr class="bg-info">
      <td>{{j.councillor__councillor_name}}</td>
      <td>{{j.co2}}</td>
    </tr>
    {% endfor %}
</table>
</div>
    <div class="col-md"></div>

</div>
<input type=button class="btn btn-outline-warning" style="margin-top: 30px;" value="Back" onClick="javascript:history.go(-1);">

{% endblock %}