<!DOCTYPE html>
{% extends 'enq/base1.html' %}
{% block content %}
<style>
body{
color:#3b3d3b;
}
</style>

    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg">
            <h3><b><i>Today's FollowUp</i></b></h3>
        <table border="1px">
                {% for data in enquires %}
            <tr>
                <td>{{data.student_name}}</td>
                <td>{{data.phone_no}}</td>
                <td>{{data.course}}</td>
                <td><a href="{%url 'followupdetails' data.enquiry_id%}" class="btn btn-success">Followup</a></td>
            </tr>
            {% endfor %}


        </table>
        </div>
        <div class="col-lg"></div>
    </div>
<input type=button class="btn btn-outline-warning" style="margin-top: 30px;" value="Back" onClick="javascript:history.go(-1);">

{% endblock %}